:root {
  --color-clear-white: #E4E4E7;
  --color-shy-white: #A1A1AA;
  --color-accent: #928BF9;
  --color-accent-hover: #B8B5FD;
  --flex-gap-24: 24px;
  --flex-gap-5: 5px;
  --breakpoint-820: 820px;

  /* Page */
  --color-white: #FfFFFF;
  --color-brand-white: #F9FFFF;
  --color-white-shine: #03DCF1;
  --color-purple-shine: #9C96F2;
  --color-green-shine: #4B654E;
  --color-background: #101216;
  --color-card-background: #161B22;
  --color-border: #30363D;

  /* Accent */
  --color-accent-purple: #7B72FB;
  --color-accent-green: #40BA51;
  --color-accent-blue: #32B4AE;

  /* Icons */
  --color-icon-svelte: #F73A01;
  --color-icon-javascript: #EFD81A;
  --color-icon-css: #1A6DB4;
  --color-icon-react: #5CD1F3;
  --color-icon-firebase: #F7C529;


}

html {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: .95;    
  text-shadow: var(--color-white-shine) 0 0 4px; 
}

* {
  box-sizing: content-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 8em;
  font-weight: 800;
  color: var(--color-brand-white);
  margin: 2.85rem 0 2.85rem 0;
}

/* h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
  margin-bottom: .66em;
  color: var(--color-clear-white);
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
  margin-bottom: .66em;
  color: var(--color-accent);
}

p {
  margin: 1.25em 0 1.25em 0;
  color: var(--color-shy-white);
  font-weight: 300;
} */