:root {
  --color-clear-white: #e4e4e7;
  --color-shy-white: #a1a1aa;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.75;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
  margin-bottom: .66em;
  color: var(--color-clear-white);
}

p {
  margin: 1.25em 0 1.25em 0;
  color: var(--color-shy-white);
  font-weight: 300;
}