---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout title="Valen Gutierrez">
	<div class="temp-title">Hi there!</div>
	<div class="temp-subtitle">Great to see you here, but unfortunately this site is <span>under construction</span>, come again in a few weeks!</div>
	<div class="temp-tag"><span>Software Engineer</span> @ Dynatrace</div>
</BaseLayout>

<style>
	.temp-title {
		color: #efb920;
		font-size: 200px;
		font-weight: 800;
	}
	.temp-subtitle {
		color: #d0c5d2;
		font-size: 80px;
		font-weight: 800;

		span {
			color: #efb920;
		}
	}
	.temp-tag {
		color: #d0c5d2;
		font-size: 30px;
		font-weight: 800;
		margin-top: 70px;
		span {
			color: #efb920;
		}
	}
</style>