---
const { title, description } = Astro.props;
---
<section>
  <h3>{title}</h3>
  <p>{description}</p>
  </section>


<style>
  section {
    padding: var(--spacing--small);
    margin-bottom: var(--spacing--small);
    border: solid 2px var(--colors--horchata-200);
    border-radius: var(--border-radius--image);
    color: var(--colors--horchata-200);
    min-height: 150px;
  }

  h3 {
    font-size: 1rem;
    margin: 0 0 var(--spacing--small) 0;
    font-weight: 500;
  }

  p {
    margin: 0 0 var(--spacing--small) 0;
    font-size: 1rem;
    font-weight: 300;
  }
</style>