---
import Logo from './Logo.astro';
import Navigation from './Navigation.astro';
import IconButton from './IconButton.astro';
---
<header>
  <section>
    <Logo />
    <div class="header-divider" />
    <Navigation />
  </section>
  <section>
    <IconButton icon="ri:github-fill" url="https://github.com/ValennGu"/>
    <IconButton icon="ri:linkedin-fill" url="https://www.linkedin.com/in/valentin-gutierrez-275409161/"/>
  </section>
</header>

<style>
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  section {
    height: 50px;
    display: flex;
    gap: var(--spacing--default);
    align-items: center;
  }

  .header-divider {
    height:44px;
    width: 1px;
    background-color: white;
  }
</style>