---
import HeaderLogo from './HeaderLogo.astro';
import HeaderNavigation from './HeaderNavigation.astro';
import IconButton from './IconButton.astro';
---
<header>
  <section>
    <HeaderLogo />
    <div class="header-divider" />
    <HeaderNavigation />
  </section>
  <section>
    <IconButton icon="ri:github-fill" url="https://github.com/ValennGu"/>
    <IconButton icon="ri:linkedin-fill" url="https://www.linkedin.com/in/valentin-gutierrez-275409161/"/>
  </section>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    padding: 24px 64px 0px 64px;
    margin-bottom: 24px;
    width: 100%;
  }

  section {
    display: flex;
    align-items: center;
    gap: var(--spacing--default);
    height: 50px;
  }

  .header-divider {
    height:44px;
    width: 1px;
    background-color: white;
  }
</style>