---
---
<header>
  <div class="header-content-wrapper">
    <div class="text-user">VALENTIN GUTIERREZ</div>
    <div class="header-divider" />
  </div>
</header>

<style>
  header {
    padding: 24px 0 24px 0;
  }

  .header-content-wrapper {
    height: 50px;
    padding: 0 64px 0 64px;
    display: flex;
    gap: var(--spacing--default);
    align-items: center;
  }

  .text-user {
    color: var(--accent--primary-color);
    font-size: 1.25rem;
    font-weight: 700;
    display: block;

    &:hover {
      cursor: pointer;
    }
  }

  .header-divider {
    height:44px;
    width: 1px;
    background-color: white;
  }
</style>