---
---
<a href="/">VALENTIN GUTIERREZ</a>

<style>
  a {
    color: var(--accent--primary-color);
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    display: block;

    &:hover {
      cursor: pointer;
    }
  }
</style>