---
import heroImage from '../assets/hero.jpg';
---
<h1>VALENTIN GUTIERREZ</h1>
<img src={heroImage.src} alt="hero-image">
<h2>Software Engineer & Product Owner @ Dynatrace</h2>

<style>
  h1 {
    color: var(--accent--primary-color);
    font-size: 7.25rem;
    font-weight: 900;
    line-height: .95;
    margin-top: 50px;
    margin-bottom: -55px;
    position: relative;
    z-index: 1;
  }

  h2 {
    color: var(--colors--horchata-200);
    font-size: 2rem;
    font-weight: 500;
    max-width: 600px;
  }

  img {
    width: 100%;
    border-radius: var(--border-radius--image);
    height: 500px;
    object-fit: cover;
  }
</style>