---
const { pathname } = Astro.url;
const pages = [
  { url: '/about', title: 'About' },
  { url: '/portfolio', title: 'Portfolio' },
  { url: '/blog', title: 'Blog' },
];
---
<section class="navigation-wrapper">
  {pages.map(({url, title}) => {
    const isActive = pathname.replaceAll('/', '') === url.replaceAll('/', '');

    return <a href={url} class:list={{active: isActive}}>{title}</a>
  })}
</section>

<style>
  .navigation-wrapper {
    display: flex;
    gap: var(--spacing--default);
  }

  a {
    color: var(--neutral--100);
    text-decoration: none;

    &:hover {
      color: var(--accent--primary-color);
    }
  }

  .active {
    color: var(--accent--primary-color);
  }
</style>