---
import Title from './Title.astro';
---
<section>
  <div class="item">
    <div class="left">
      <Title text="Who am I" />
    </div>
    <div class="right">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
    </div>
  </div>
</section>
<style>
  section {
    padding: 45px 64px 40px 64px;
    background-color: var(--colors--horchata-400);
  }
  .item {
    display: flex;
    gap: var(--spacing--default);
    padding-top: var(--spacing--small);
    padding-bottom: var(--spacing--default);
    border-top: solid 2px black;
  }
  .left {
    flex-basis: 30%;
  }
  .right {
    flex-basis: 60%;
    line-height: 2rem;
    font-size: 1.125rem;
    font-family: 'Cabin', sans-serif;
  }
</style>

Demo: being able to filter by names in the raw visualisation.