---
const { text } = Astro.props;
---
<p>{text}</p>

<style>
  p {
    margin: 0;
    font-weight: 400;
    font-family: 'Cabin', sans-serif;
    font-size: 1.125rem;
    line-height: 2rem;
  }
</style>